<!DOCTYPE html>

<html lang="ru">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Online-shop</title>

</head>

<body>

 <header>
    <h1>Online-shop</h1>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'catalog' %}">Catalog</a>
        <a href="{% url 'cart' %}">Cart</a>
        <a href="{% url 'register' %}">Register</a>
    </nav>
</header>

<h1>Каталог задач</h1>

    <form method="get">
        <input type="text" name="q" value="{{ query }}" placeholder="Поиск по названию...">
        <button type="submit">Найти</button>
    </form>

    <hr>

    {% if products %}
        {% for item in products %}
            <div style="margin-bottom: 20px;">
                <h3>{{ item.title }}</h3>
                <p>{{ item.description }}</p>
                <p><i>{{ item.created_at }}</i></p>
            </div>
        {% endfor %}
    {% else %}
        <p>Ничего не найдено.</p>
    {% endif %}

</body>

</html>