<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <h1>Register for Updates</h1>
        <nav class="navbar">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'catalog' %}">Catalog</a>
            <a href="{% url 'cart' %}">Cart</a>
            <a href="{% url 'register' %}" class="register-button">Register</a>
        </nav>
    </header>

    <main>
        <h2>Register</h2>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }} <!-- Отображаем форму регистрации -->

            {% if form.errors %}
                <div class="error">
                    <p>Пожалуйста, исправьте ошибки в форме.</p>
                </div>
            {% endif %}
            
            <button type="submit">Register</button>
        </form>

        <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p> <!-- Ссылка на страницу входа -->
    </main>
    
    <footer>
        <p>&copy; 2024 Museums in Kazakhstan</p>
    </footer>
</body>

</html>