<!DOCTYPE html>

<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Register for Updates</h1>
        <nav class="navbar">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'catalog' %}">Catalog</a>
            <a href="{% url 'cart' %}">Cart</a>
            <a href="{% url 'register' %}" class="register-button">Register</a>
        </nav>
    </header>

    <main>
        <form>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>
            
            <button type="submit">Register</button>
        </form>
    </main>
    
    <footer>
        <p>&copy; 2024 Museums in Kazakhstan</p>
    </footer>
</body>
<body class="register-page">
</html>
